$light_blue: #cce2f7;
$dark_blue: #4a5a73;
$text_color: #111d2d;
$background_color: #b2b2b2;

body {
  font-family: "Arial", Helvetica, sans-serif;
  background-color: lighten($background_color, 15%);
}

#container {
  width: 1000px;
  margin: auto;
  color: $text_color;
}

#header {
  margin: 0em 0em 1em 0em;
  padding: 0em 1em;
  h1 {
    font-family: "Palatino Linotype", Palatino, serif;
    padding: 0;
    margin: 0;
    color: darken($background_color, 35%);
    font-size: 52px;
  }
}

#content {
  padding: 0px 10px;
  clear: both;
}

.result {
  margin: 10px;
}

#price {
  border: 1px solid black;
}

@import "flash";
@import "forms";
@import "dropdown_menu";
