#create_user
  %h1.page_title Create A User
  %p Their username and password will be emailed to them, along with a link to change it.
  %form{:action => "/create_user", :method => "post"}
    .field
      .label
        %label{:for => "user_email"} Email
      %input{ :id => "user_email", :name => "user[email]", :size => 30, :type => "text" , :value => params[:email]}
    .field
      .label
        %label{:for => "user_password"} Password
      %input{ :id => "user_password", :name => "user[password]", :size => 30 }
    .field
      .label
        %label{:for => "user_password_confirmation"} Confirm Password
      %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30 }
    .field
      .label
        %label{:for => "user_permissions"} Is this user an admin user?
      %input{ :type => "checkbox", :id => "user_permissions", :name => "permission_level", :selected => false }
    .buttons
      %input{ :value => "Create user", :type => "submit" }
