#sinatra_authentication
  - if Rack.const_defined?('Flash') && flash[:notice]
    #sinatra_authentication_flash= flash[:notice]
  %h1.page_title Create A User
  %form{:action => "/create_user", :method => "post"}
    .field
      .label
        %label{:for => "user_email"} Email
      %input{ :id => "user_email", :name => "user[email]", :size => 30, :type => "text" , :value => params[:email]}
    .field
      .label
        %label{:for => "user_password"} Password
      %input{ :id => "user_password", :name => "user[password]", :size => 30, :type => "password" }
    .field
      .label
        %label{:for => "user_permissions"} Is Admin?
      %input{ :type => "checkbox", :id => "user_permissions", :name => "permission_level", :selected => false }
    .buttons
      %input{ :value => "Sign up", :type => "submit" }
