:javascript
  $(function(){
    $("ul.dropdown li").hover(function(){
        $(this).addClass("hover");
        $('ul:first',this).css('visibility', 'visible');
    }, function(){
        $(this).removeClass("hover");
        $('ul:first',this).css('visibility', 'hidden');
    });
    $("ul.dropdown li ul li:has(ul)").find("a:first").append(" &raquo; ");
  });
#header
  %h1 Truck Pricer
  %ul#menu.dropdown
    - if logged_in?
      %li
        %a{ :href => "/logout" } Log Out
    - if current_user.admin?
      %li
        %a{ :href => "#" } Admin
        %ul.sub_menu
          %li
            %a{ :href => "/price" } Edit Truck Prices
          %li
            %a{ :href => "/create_user" } Create User Accounts
          %li
            %a{ :href => "/users" } Edit Users
          %li
            %a{ :href => "/formula" } Edit Formula
          %li
            %a{ :href => "/truck_models" } List Truck Models
          %li
            %a{ :href => "/engines" } List Engines
          %li
            %a{ :href => "#" } Years
            %ul.sub_menu
              %li
                %a{ :href => "/years" } List Years
              %li
                %a{ :href => "/years/new" } Add Year
          %li
            %a{ :href => "#" } Engines
            %ul.sub_menu
              %li
                %a{ :href => "/engines" } List Engines
              %li
                %a{ :href => "/engines/new" } Add Engine
          %li
            %a{ :href => "#" } Truck Models
            %ul.sub_menu
              %li
                %a{ :href => "/models" } List Truck Models
              %li
                %a{ :href => "/models/new" } Add Truck Model

